<div class="col-sm-2">    
    <nav class="nav flex-column nav-pills">
        <a class="nav-link " href="#">Warehouses</a>
        <a class="nav-link" href="#">Inventory Locations</a>
        <a class="nav-link <%= path.split('/')[2] === 'parts' ? 'active' : '' %>" href="#">Parts</a>
        <hr class="w-100" />
        <a class="nav-link" href="#">Add Warehouse</a>
        <a class="nav-link" href="#">Add Inventory Location</a>
        <a class="nav-link" href="#">Add Part</a>
        <a class="nav-link" href="#">Add Part Instance</a>
    </nav>
</div>