<div class="col-sm-2">    
    <nav class="nav flex-column nav-pills">
        <a class="nav-link <%= path.split('/')[2] === 'warehouses' ? 'active' : '' %>" href="/inventory/warehouses">Warehouses</a>
        <a class="nav-link <%= path.split('/')[2] === 'inventorylocations' ? 'active' : '' %>" href="/inventory/inventorylocations">Inventory Locations</a>
        <a class="nav-link <%= path.split('/')[2] === 'parts' ? 'active' : '' %>" href="/inventory/parts">Parts</a>
        <hr class="w-100" />
        <a class="nav-link" href="/inventory/warehouse/create">Add Warehouse</a>
        <a class="nav-link" href="/inventory/inventorylocation/create">Add Inventory Location</a>
        <a class="nav-link <%= (path.split('/')[2] === 'part' && path.split('/')[3] === 'create') ? 'active' : '' %>" href="/inventory/part/create">Add Part</a>
        <a class="nav-link" href="/inventory/partinstance/create">Add Part Instance</a>
    </nav>
</div>