<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <header>
            <% include ./partials/header %>
        </header>
        <main class="container-fluid">
            <div class="row mt-2">
                <% include ./partials/navbar %>
                <div class="col-sm-6">        
                    
                </div>
            </div>
        </main>
        <footer>
            <% include ./partials/footer %>
        </footer>
    </body>
</html>