<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <header>
            <% include ./partials/header %>
        </header>
        <main class="container-fluid">
            <div class="row mt-2">
                <% include ./partials/navbar %>
                <div class="col-sm-10">
                    <form action="" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                              <label for="partNumber">Part Number</label>
                              <input type="text" class="form-control" name="partNumber" required>
                            </div>
                            <div class="form-group col-md-2">
                              <label for="partRev">Revision</label>
                              <input type="text" class="form-control" name="partRev" value="NC" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="partUOM">Unit of Measure</label>
                                <input type="text" class="form-control" name="partUOM" value="each" required>
                              </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <label for="partName">Part Name or Description</label>
                                <input type="text" class="form-control" name="partName">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-secondary">Create Part</button>
                    </form>
                </div>
            </div>
        </main>
        <footer>
            <% include ./partials/footer %>
        </footer>
    </body>
</html>